header {
  display: flex;
  background-color: #d2b48c;
  height: 30%;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}

.logo {
  height: auto;
  width: auto;
}

.links {
  width: 75%;
  justify-content: flex-end;
  flex-direction: row;
  display: inline-flex;
}

a {
  font-size: 20px;
  margin: 13px;
  text-decoration: none;
  color: rgb(8, 8, 8);
}
